{% extends 'base.html.twig' %}

{% block title %}Weather Forecast System{% endblock %}

{% block body %}
<h1>Weather Forecast System</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
{% endblock %}
