{% extends 'layout_crud.html.twig' %}

{% block title %}Weather Forecast System{% endblock %}

{% block content %}
    <div class="row mt-3">
      <div class="col">
        <h1>Weather Forecast System</h1>
      </div>
    </div>
    <div class="row mt-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ab quisquam labore maiores numquam dicta quaerat, temporibus debitis sunt tempora quibusdam nulla omnis officiis? Corporis consequatur enim magni ullam voluptatem?</p>
    </div>
{% endblock %}
