{% extends 'base.html.twig' %}

{% block body %}
  <nav class="navbar navbar-expand bg-dark border-bottom border-body"  data-bs-theme="dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">Weather Forecasts</a>
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Locations
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ path('app_weather', {countryCode: 'ES', 'city': 'Barcelona'}) }}">Barcelona</a></li>
                  <li><a class="dropdown-item" href="{{ path('app_weather', {countryCode: 'DE', 'city': 'Berlin'}) }}">Berlin</a></li>
                  <li><a class="dropdown-item" href="{{ path('app_weather', {countryCode: 'FR', 'city': 'Paris'}) }}">Paris</a></li>
              </ul>
              </li>
          </ul>

          </div>
      </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
{% endblock %}